@import 'fonts'; 
// @import 'variables';

/*==============================================================
	Common Styles Initials
==============================================================*/

/*==============================================================
	Common Styles End
==============================================================*/
/*==============================================================
	Global Styles Start
==============================================================*/
// 00923F
// FFF500

.navbar-title {
	font-family: 'Maven Pro', sans-serif;
	font-size: 26px;
	font-weight: 600;
	margin-bottom: 0;
}

.homepage-logo {
	a {
		img {
			height: 45px !important;
			margin: 0 10px 0 0;
		}
		h3 {
			font-family: 'Maven Pro', sans-serif;
			font-size: 26px;
			font-weight: 600;
			margin-bottom: 0;
		}
	}
}
.admin-logo {
	a {
		img {
			height: 45px !important;
			margin: 0 5px 0 0;
		}
		h3 {
			font-family: 'Maven Pro', sans-serif;
			font-size: 26px;
			font-weight: 600;
			margin-bottom: 0;
		}
	}
}
.alt-logo {
	.navbar-brand {
		img {
			height: 35px !important;
			margin: 0 5px 0 0;
		}
		span {
			font-family: 'Maven Pro', sans-serif;
			font-size: 20px;
			font-weight: 600;
			margin-bottom: 0;
		}
	}
}
.jumbotron-card {
	// padding: 100px;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	overflow: hidden;
	.jumbotron {
		img {
			background-color: #cbfae0;
			padding: 50px;
			height: 480px;
			object-fit: contain;
			// object-fit: cover;
			// transform-origin: 50% 100%;
			transition: transform 1s;
			// transition: transform 2s;
		}
		.card-body {
			position: relative;
			background-color: #ffffff;
			z-index: 1000;
		}
	}
	&:hover {
		box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.25);
		img {
			transform: scale(1.2);
			// transform: scale(1.1);
		}
	}
}

.card-plus {
	background-color: #cbfae0;
}

.h-card {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	// transition : box-shadow .2s !important;
	&:hover {
		background-color: #e9f5ee;
		box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.25);
	}
}
.h-card-img {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	overflow: hidden;
	img {
		height: 200px;
		object-fit: cover;
		transform-origin: 50% 100%;
		transition: transform .15s;
	}
	&:hover {
		box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.25);
		img {
			transform: scale(1.1);
		}
	}
}
.h-350 {
	height: 350px;
	.card-body {
		height: 65px;
	}
}

.active-switch {
	.form-check-input {
		&:checked {
			background-color: #435ebe;
			border-color: #435ebe;
		}
		&:focus {
			border-color: #a1afdf;
		}
	}
	.form-check-label {
		color: #002152;
	}
}
.btn-toggle-active {
	background-color: #EBF3FF;
	&:hover {
		border-color: #435ebe;
	}
	&:focus {
		border-color: #a1afdf;
	}
}

.la-sm {
	color: #435ebe !important;
}

/*==============================================================
	Global Styles End
==============================================================*/
// MOBILE
@media (max-width: 992px) {
  @import 'mobile';  
}